@charset "UTF-8";

/* Light theme color */
$light-background: #FFFFF4;
$light-background-secondary: #eaeaea;
$light-background-header: #FAEBD6;
$light-color: #3A1616;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #1C1D1D;
$dark-background-secondary: #191919;
$dark-background-header: #191919;
$dark-color: #B3AEA9;
$dark-color-variant: white;
$dark-color-secondary: #6D6C6C;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
